body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::after, *::before {
  box-sizing: border-box;
}
.admin-page {
  background: white;
  padding: 30px; 
  min-height: calc(100vh - 122px);
  position: relative;
  box-sizing: border-box;

}
.css-xsn0m5-MuiImageList-root{
  margin: 0;
  
  height: auto!important;
  
  overflow-y: hidden!important;
}
.css-o69gx8-MuiCardMedia-root{
  max-width: 700px;
  
}

.MuiGrid-item {
  cursor: pointer;
}
.MuiBox-root {
  z-index: 1;
}
.MuiModal-root .MuiPaper-root {
  max-width: unset
}

.MuiModal-root  .MuiCardMedia-media  {
  height: 320px;
}
.admin-page {
  color: black
}
.admin-page a {
  color: blue;
  text-decoration: none;
}